html{
	white-space:nowrap;
	}
	body {
	display:inline-block;
	overflow-x: hidden
	}

*,
*:before,
*:after {
	padding: 0;
	margin: 0 ;
	box-sizing: border-box;
}

.icon {
	width: 200px;
	position:relative;
	left: 10px;
}


.nav {
	margin-left: auto;
}



.ul {
	font-family: "Helvetica Neue", sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-height: normal;
	text-decoration: none solid rgb(17, 17, 17);
	text-align: start;
	text-transform: none;
	white-space: normal;
	word-spacing: 0px;

	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(17, 17, 17);


	height: 103px;
	margin: 0 60px 0 auto;
	position: static;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	display: flex;
	align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
	clear: none;
}


#slogan {
    font-family: "Helvetica Neue", sans-serif;
	font-size: 24px;
	color: white;
	font-variant: normal;
	font-weight: 700;
	letter-spacing: normal;
	line-height: 28px;
	text-decoration: none solid rgb(17, 17, 17);
	word-spacing: 0px;
	text-indent: -1em;
	display: flex;
	flex-direction:row;
	background-color:#111111;
	height:581.469px ;
	width: 1600px ;
	margin: 94px 0 0 0;
	padding: 20px 1px 157px 30px ;
	min-height:245.22px;
}

.slog {
	position:relative;
	left:25px;
	font-size: 22px;
}

.video {
	display:flex;
	max-width: 700px;
	padding: 0px;
	margin: 0 auto;
	justify-items: end;
	height: 358px;
	position: relative;
	left: 10px;
	
}

.navigator {
	font-family: "Helvetica Neue", sans-serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	letter-spacing: normal;
	line-height: 28px;
	text-decoration: none solid rgb(17, 17, 17);
	text-align: left;
	text-indent: 0px;
	text-transform: lowercase;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;


	background-attachment: scroll;
	background-color: white;
	background-image: none;
	background-position: 0px 0px;
	background-repeat: repeat;
	color: rgb(17, 17, 17);


	height: 28px;
	width: 150px;
	border: 0px none rgb(17, 17, 17);
	border-top: 0px none rgb(17, 17, 17);
	border-right: 0px none rgb(17, 17, 17);
	border-bottom: 0px none rgb(17, 17, 17);
	border-left: 0px none rgb(17, 17, 17);
	margin: 0px;
	padding: 0px;
	max-height: none;
	min-height: 0px;
	max-width: none;
	min-width: 0px;


	position: relative;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	display: inline-block;
    padding-left: 3px;
    padding-right: 3px;
	clear: none;
	z-index: auto;
	list-style: none;
}

nav{
	display: flex;
	justify-content: space-around;
	position:relative;
	right: 90px;
}

a:after {
	content: "";
	position: absolute;
	background-color: #111111;
	height: 3px;
	width: 100%;
	justify-content: space-between;
	left: 0;
	bottom: -10px;
	transition: 0.3s;
}

a:hover {
	color: #111111;
}

a:hover:after{
	width:100px;
}


.estilolista{
	list-style: none;
	background-color: white;

}
#section {
	background-color: #111111;
}

.industria {
	font-family: "Helvetica Neue", sans-serif;
	font-size: 30px;
	font-weight: 700;
	color: white;
	letter-spacing: -0.09616px;
	line-height: 60px;
	text-decoration: none solid rgb(255, 255, 255);
	text-transform: lowercase;
	word-spacing: 0px;
	text-indent: 1em;
	position:relative;
	left: 2px;
	margin-bottom: 10px;
	
	display: block;
	box-sizing: border-box;
	background-color: #111111;
	height: 60px;
	margin-top: 50px;
}


.ind {
	height: 450px;
	margin: 150px;
}

.ind:hover {
	filter: opacity();
}

.nos {
	font-family: "Helvetica Neue", sans-serif;
	font-size: 20px;
	font-weight: 700;
	color: #111111;
	letter-spacing: -0.09616px;
	line-height: 60px;
	text-decoration: none solid rgb(255, 255, 255);
	text-transform: lowercase;
	word-spacing: 0px;
	text-indent: 1em;
	
	display: block;
	background-color: #111111;
	height: 500px;
	width: 1142.39;
	margin: 100px;
}

.noso {
	font-family: "Helvetica Neue", sans-serif;
	font-size: 30px;
	font-weight: 700;
	color: white;
	letter-spacing: -0.09616px;
	line-height: 60px;
	text-decoration: none solid rgb(255, 255, 255);
	text-transform: lowercase;
	word-spacing: 0px;
	text-indent: 1em;
	position:relative;
	left: 10px;
	
	display: flex;
	background-color: #111111;
	height: 300px;
	width: 1142.39;
	margin: 0 0 150px 0;
	margin-top: 10px;
}

.solutions {
	display: block;
	background-color: #FFFFFF;
	height: 300px;
	width: 1142.39;
	margin: 0 0 40px 0;
}


/*Revisar la section y organizacion de padre e hijos en css*/

.destacado {
	font-family: "Helvetica Neue", sans-serif;
	font-size: 30px;
	font-weight: 700;
	color: #111111;
	letter-spacing: -0.09616px;
	line-height: 60px;
	text-transform: lowercase;
	word-spacing: 0px;
	text-indent: 1em;
	text-align: left;
	position:relative;
	left: 11px;

	animation-duration: 3s;
	animation-name: slidein;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.slidein {
	animation-duration: 3s;
	animation-name: slidein;
	animation-iteration-count: 3;
	animation-direction: alternate;
}

@keyframes slidein {
	from {
	margin-left:100%;
	width:300%
	}

	to {
	margin-left:0%;
	width:100%;
}
}

	

#main_block {
	background-color: #FFFFFF;
	display: flex;
	padding: top 1000px;
	height: 500px;
	margin-bottom: 100px;

	font-family: "Helvetica Neue", sans-serif;
	font-size: 30px;
	font-weight: 700;
	color: #111111;
	letter-spacing: -0.09616px;
	line-height: 60px;
	text-transform: lowercase;
	word-spacing: 0px;
	text-indent: 1em;
	text-align: left;
	

}

#cs {
	display: flex;
	margin: 15px auto;
	font-size: 20px;
	padding: 48px;
	font-family: "Helvetica Neue", sans-serif;
}

.box {

	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	color: white;
	display:flex;

	height: 42px;
	width: 146.391px;
	margin: 12px 0px 5px 12px;
	padding: 6px 10px;
	background-color: #111111;
}


#boxpick  {
	background-color: #EDEDED;
	width: 1550px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.boxe {
	font-size: 16px;
	text-align: left;
	background-color: #00C8FF;
}


.crecer {
	font-family: "Helvetica Neue", sans-serif;
	font-size: 16px;
	background-color: #FFFFFF;
	display:flex;

	text-align: center;
	border-bottom: #00C8FF;
}

#footer {
	background-color: #000000;
	display: block;
	background-color: #111111;
	height: 400px;
	width: 1142.39;
	margin-top: 100px;
	display: auto;
	
}


/*Esto va a ser un navigator como  el de arriba pero en el footer, no lo llegue a terminar perdon Tom */
.foot {
	font-family: "Helvetica Neue", sans-serif;
	display: flex;
	color:#EDEDED;
	font-weight: 700;
	color: white;
	letter-spacing: -0.09616px;
	line-height: 60px;
	text-decoration: none solid rgb(255, 255, 255);
	text-transform: lowercase;
	word-spacing: 0px;
	text-indent: 1em;

}


/**Grids*
#body {
	display: grid;
	grid-template-areas:
	"icon ul"
	"slogan video"
	"industria nos"
	"nos "
	"main_block"
	"item1 item2 item3 item4"
	"noso"
	" solutions"
	" desctacado"
	"cs box"
	"boxpick boxe"
	"xcrecer"
	;
}
*/

#header {
	display:flex;
	grid-area: header;
}
/*Hoover efect 2*/

.b {
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	height:350px;
	position: relative;
	margin:10px;
	right: 10px;
}



.boxs {
	color: #ededed;
	background-color: #111;
	height:350px;
	width: 250px;
	position:relative;
	left: 150px;
	margin: 35px;
	display: flex;
	border: 5px solid white;
	text-align: center;
	justify-content: space-evenly;
	justify-items: center;
	font-family: "Helvetica Neue", sans-serif;
}

.b .boxs {
	transition: 0.3s ease-in-out;

}

.b .boxs:hover {
    height: 465px;
}


.b .boxs .content {
    transition: 0.3s ease-in-out;
}
.b .boxs:hover {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}

/** Gltich effectss **/


