#ul {
	font-family: "Helvetica Neue", sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-height: normal;
	text-decoration: none solid rgb(17, 17, 17);
	text-align: start;
	text-transform: none;
	white-space: normal;
	word-spacing: 0px;

	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(17, 17, 17);


	height: 103px;
	margin: 0 60px 0 auto;
	position: static;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	display: flex;
	align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
	clear: none;
}

.icon {
	width: 200px;
}

.header {
	display: inline-flex;
	align-items: center;
	width: 100%;
}

.nav {
	margin-left: auto;
}

.navigator {

	font-family: "Helvetica Neue", sans-serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	letter-spacing: normal;
	line-height: 28px;
	text-decoration: none solid rgb(17, 17, 17);
	text-align: left;
	text-indent: 0px;
	text-transform: lowercase;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;


	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-position: 0px 0px;
	background-repeat: repeat;
	color: rgb(17, 17, 17);


	height: 28px;
	width: 150px;
	border: 0px none rgb(17, 17, 17);
	border-top: 0px none rgb(17, 17, 17);
	border-right: 0px none rgb(17, 17, 17);
	border-bottom: 0px none rgb(17, 17, 17);
	border-left: 0px none rgb(17, 17, 17);
	margin: 0px;
	padding: 0px;
	max-height: none;
	min-height: 0px;
	max-width: none;
	min-width: 0px;


	position: relative;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	display: inline-block;
    padding-left: 3px;
    padding-right: 3px;
	clear: none;
	z-index: auto;
	list-style: none;
}

.estilolista{
	list-style: none;

}

#boxpick  {
	background-color: #EDEDED;
}

.boxe {
	font-size: 16px;
	text-align: left;
	background-color: #00C8FF;
}


.jobs {
	font-family: "Helvetica Neue", sans-serif;
	font-size: 16px;
	background-color: black;
	display:flex;

	text-align: center;
	border-bottom: #00C8FF;
}

.box {

	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	color: white;
	

	height: 36px;
	width: 205.391px;
	margin: 12px 0px 5px 12px;
	padding: 6px 10px;
	background-color: #111111;
}

#divisor {

	font-family: "Helvetica Neue", sans-serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-height: normal;
	text-decoration: none solid rgb(17, 17, 17);
	text-align: start;
	text-indent: 0px;
	text-transform: none;
	white-space: normal;
	word-spacing: 0px;
    
	width: 100%;
    margin: auto;
    padding-left: 0;
    padding-right: 0;


	position: relative;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;


	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

}

.special {
    text-align: center;
}

#footer {
	background-color: #000000;
	display: block;
	background-color: #111111;
	height: 400px;
	width: 1142.39;
	margin-top: 100px;
	display: auto;
	
}


/*Esto va a ser un navigator como  el de arriba pero en el footer, no lo llegue a terminar perdon Tom */
.foot {
	font-family: "Helvetica Neue", sans-serif;
	display: flex;
	color:#EDEDED;
	font-weight: 700;
	color: white;
	letter-spacing: -0.09616px;
	line-height: 60px;
	text-decoration: none solid rgb(255, 255, 255);
	text-transform: lowercase;
	word-spacing: 0px;
	text-indent: 1em;

}