@import "footer";
@import "variables";


html{
	white-space:nowrap;
	body {
	display:inline-block;
    margin:10%;
	overflow-x: hidden
	}

*,
*:before,
*:after {
	padding: 0;
	margin: 0 ;
	box-sizing: border-box;
}

.icon {
	width: 500px;
	position:relative;
	left: 18px;
}

.but {

	font-family: $letraPrincipal;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	letter-spacing: normal;
	line-height: normal;
	text-decoration: none solid rgb(0, 0, 0);
	text-align: center;
	text-indent: 0px;
	text-transform: uppercase;
	vertical-align: middle;
	white-space: nowrap;
	word-spacing: 0px;
	display:flex;
	position:relative;

	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(0, 0, 0);


	height: 49px;
	width: 385.344px;
	border: 0px none rgb(0, 0, 0);
	border-top: 0px none rgb(0, 0, 0);
	border-right: 0px none rgb(0, 0, 0);
	border-bottom: 0px none rgb(0, 0, 0);
	border-left: 0px none rgb(0, 0, 0);
	margin: 0px 0px 10px;
	padding: 16px 32px;
	max-height: none;
	min-height: 0px;
	max-width: none;
	min-width: 0px;


	position: relative;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 45px;
	float: none;
	display: inline-flex;
	clear: none;
	z-index: auto;


	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;


	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;


	overflow: hidden;
	cursor: pointer;
	visibility: visible;

	transform: none;
	transition: all 0s ease 0s;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: rgb(0, 0, 0) 0px 0px 0px 2px inset;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}


.nav {
	margin-left: auto;
}



.ul {
	font-family: $letraPrincipal;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-height: normal;
	text-decoration: none solid rgb(17, 17, 17);
	text-align: start;
	text-transform: none;
	white-space: normal;
	word-spacing: 0px;

	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(17, 17, 17);

	height: 103px;
	margin: 0 60px 0 auto;
	position: relative;
	top: auto;
	bottom: auto;
	right: auto;
	left: 100px;
	display: flex;
	align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
	clear: none;
}


#slogan {
    font-family: $letraPrincipal;
	font-size: 24px;
	color: white;
	font-variant: normal;
	font-weight: 700;
	letter-spacing: normal;
	line-height: 28px;
	text-decoration: none solid rgb(17, 17, 17);
	word-spacing: 0px;
	text-indent: -1em;
	display: flex;
	flex-direction:row;
	background-color:#111111;
	height:481.469px ;
	width: 1600px ;
	margin: 34px 0 0 0;
	padding: 20px 1px 157px 30px ;
	min-height:245.22px;
}

.slog {
	position:relative;
	left:25px;
	font-size: 22px;
}

.video {
	display:flex;
	max-width: 700px;
	padding: 0px;
	margin: 0 auto;
	justify-items: end;
	height: 358px;
	position: relative;
	left: 10px;
	
}

.navigator {
	font-family: $letraPrincipal;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	letter-spacing: normal;
	line-height: 28px;
	text-decoration: none solid rgb(17, 17, 17);
	text-align: left;
	text-indent: 0px;
	text-transform: lowercase;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;


	background-attachment: scroll;
	background-color: white;
	background-image: none;
	background-position: 0px 0px;
	background-repeat: repeat;
	color: rgb(17, 17, 17);


	height: 28px;
	width: 150px;
	border: 0px none rgb(17, 17, 17);
	border-top: 0px none rgb(17, 17, 17);
	border-right: 0px none rgb(17, 17, 17);
	border-bottom: 0px none rgb(17, 17, 17);
	border-left: 0px none rgb(17, 17, 17);
	margin: 0px;
	padding: 0px;
	max-height: none;
	min-height: 0px;
	max-width: none;
	min-width: 0px;


	position: relative;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	display: inline-block;
    padding-left: 3px;
    padding-right: 3px;
	clear: none;
	z-index: auto;
	list-style: none;
}

nav{
	display: flex;
	justify-content: space-around;
	position:relative;
	right: 90px;
}

a:after {
	content: "";
	position: absolute;
	background-color: #111111;
	height: 3px;
	width: 60px;
	justify-content: space-between;
	left: 0;
	bottom: -10px;
	transition: 0.3s;
}

a:hover {
	color: #111111;
}

a:hover:after{
	width:100px;
}


.estilolista{
	list-style: none;
	background-color: white;

}
#section {
	background-color: #111111;
}

.industria {
	font-family: $letraPrincipal;
	font-size: 30px;
	font-weight: 700;
	color: white;
	letter-spacing: -0.09616px;
	line-height: 60px;
	text-decoration: none solid rgb(255, 255, 255);
	text-transform: lowercase;
	word-spacing: 0px;
	text-indent: 1em;
	position:relative;
	left: 2px;
	margin-bottom: 10px;
	
	display: block;
	box-sizing: border-box;
	background-color: #111111;
	height: 60px;
	margin-top: 50px;
}


.ind {
	height: 450px;
	margin: 150px;
}

.ind:hover {
	filter: opacity(0);
}

.nos {
	font-family: $letraPrincipal;
	font-size: 20px;
	font-weight: 700;
	color: #111111;
	letter-spacing: -0.09616px;
	line-height: 60px;
	text-decoration: none solid rgb(255, 255, 255);
	text-transform: lowercase;
	word-spacing: 0px;
	text-indent: 1em;
	
	display: block;
	background-color: #111111;
	height: 500px;
	width: 1142.39;
	margin: 100px;
}

.noso {
	font-family: $letraPrincipal;
	font-size: 30px;
	font-weight: 700;
	color: white;
	letter-spacing: -0.09616px;
	line-height: 60px;
	text-decoration: none solid rgb(255, 255, 255);
	text-transform: lowercase;
	word-spacing: 0px;
	text-indent: 1em;
	position:relative;
	left: 10px;
	
	display: flex;
	background-color: #111111;
	height: 300px;
	width: 1142.39;
	margin: 0 0 150px 0;
	margin-top: 10px;
}

.solutions {
	display: block;
	background-color: #FFFFFF;
	height: 300px;
	width: 1142.39;
	margin: 0 0 40px 0;
}


.destacado {
	font-family: $letraPrincipal;
	font-size: 30px;
	font-weight: 700;
	color: #111111;
	letter-spacing: -0.09616px;
	line-height: 60px;
	text-transform: lowercase;
	word-spacing: 0px;
	text-indent: 1em;
	text-align: left;
	position:relative;
	left: 11px;

	animation-duration: 3s;
	animation-name: slidein;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.slidein {
	animation-duration: 3s;
	animation-name: slidein;
	animation-iteration-count: 3;
	animation-direction: alternate;
}

@keyframes slidein {
	from {
	margin-left:320px;
	width:60px;
	}

	to {
	margin-left:80px;
	width:100px;
}
}

	

#main_block {
	background-color: #FFFFFF;
	display: flex;
	padding: top 1000px;
	height: 500px;
	margin-bottom: 100px;

	font-family: $letraPrincipal;
	font-size: 30px;
	font-weight: 700;
	color: #111111;
	letter-spacing: -0.09616px;
	line-height: 60px;
	text-transform: lowercase;
	word-spacing: 0px;
	text-indent: 1em;
	text-align: left;
	

}

#cs {
	display: flex;
	margin: 15px auto;
	font-size: 20px;
	padding: 48px;
	font-family: $letraPrincipal;
}

.box {
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	color: white;
	display:flex;

	height: 42px;
	width: 146.391px;
	margin: 12px 0px 5px 12px;
	padding: 6px 10px;
	background-color: #111111;
}


#boxpick  {
	background-color: #EDEDED;
	width: 1550px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.boxe {
	font-size: 16px;
	text-align: left;
	background-color: #00C8FF;
}


.crecer {
	font-family: $letraPrincipal;
	font-size: 16px;
	background-color: #FFFFFF;
	display:flex;

	text-align: center;
	border-bottom: #00C8FF;
}

#footer {
	background-color: #000000;
	display: flex;
	align-items:flex-end;
	background-color: #111111;
	flex-direction:row-reverse;
	height: 400px;
	width: 1142.39;
	margin-top: 100px;
	display: auto;
	
}


.foot {
	font-family: $letraPrincipal;
	display: flex;
	color:#EDEDED;
	font-weight: 700;
	color: white;
	letter-spacing: -0.09616px;
	line-height: 60px;
	text-decoration: none solid rgb(255, 255, 255);
	text-transform: lowercase;
	word-spacing: 0px;
	text-indent: 1em;
    position:relative;
    right:15px;

}

#headerr {
	display: inline-flex;
	align-items: center;
	width: 100%;
	height:100%;
}


.b {
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	height:350px;
	position: relative;
	margin:10px;
	right: 10px;
}


.boxs {
	color: #ededed;
	background-color: #111;
	background-image: linear-gradient(to right, #313131 0%, black 100%);

	height:350px;
	width: 250px;
	position:relative;
	left: 150px;
	margin: 35px;
	display: flex;
	border: 5px solid white;
	text-align: center;
	justify-content: space-evenly;
	justify-items: center;
	font-size: 16px;
	font-family: $letraPrincipal
}

.b .boxs {
	transition: 0.3s ease-in-out;

}

.b .boxs:hover {
    height: 465px;
}


.b .boxs .content {
    transition: 0.3s ease-in-out;
}
.b .boxs:hover {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}


.bo {
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	height:350px;
	position: relative;
	margin:10px;
	right: 10px;
	bottom: 530px;
}




.boxss {
	color: #ededed;
	background-color: #111;
	height:350px;
	width: 250px;
	position:relative;
	left: 150px;
	margin: 35px;
	display: flex;
	flex-wrap:wrap;
	align-content:flex-end;
	background-image: linear-gradient(to right, #313131 0%, black 100%);
	text-align: center;
	justify-content: space-evenly;
	justify-items: center;
	font-size: 16px;
	font-family: $letraPrincipal;
}

.bo .boxss {
	transition: 0.3s ease-in-out;

}

.bo .boxss:hover {
    height: 465px;
}


.bo .boxss .content {
    transition: 0.3s ease-in-out;
}
.bo .boxss:hover {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}


.wb {
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	height:350px;
	position: relative;
	margin:10px;
	right: 10px;
	bottom: 530px;
}




.boxsss {
	color: $colorSecundario;
	background-color: #111;
	height:250px;
	width: 250px;
	position:relative;
	left: 150px;
	margin: 35px;
	display: flex;
	flex-wrap:wrap;
	align-content:flex-end;
	background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
	text-align: center;
	justify-content: space-evenly;
	justify-items: center;
	font-size: 20px;
	font-family: $letraPrincipal
}

.wb .boxsss {
	transition: 0.3s ease-in-out;

}

.wb .boxsss:hover {
    height: 465px;
}


.wb .boxsss .content {
    transition: 0.3s ease-in-out;
}
.wb .boxsss:hover {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}



.wb2 {
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	height:350px;
	position: relative;
	margin:10px;
	right: 10px;
	bottom: 530px;
}

.boxssss {
	color: #111111;
	background-color: #111;
	height:250px;
	width: 250px;
	position:relative;
	left: 150px;
	margin: 35px;
	display: flex;
	flex-wrap:wrap;
	align-content:flex-end;
	background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);	
	text-align: center;
	justify-content: space-evenly;
	justify-items: center;
	font-size: 20px;
	font-family: $letraPrincipal
}

.wb2 .boxssss {
	transition: 0.3s ease-in-out;

}

.wb2 .boxssss:hover {
    height: 465px;
}


.wb2 .boxssss .content {
    transition: 0.3s ease-in-out;
}
.wb2 .boxssss:hover {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}}